In [2]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age','sex_male','bmi','children','smoker_yes']]
dep=dataset[['charges']]

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [125]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='poisson',max_features='log2',splitter='best')
regressor=regressor.fit(X_train,y_train)

In [126]:
y_pred=regressor.predict(X_test)

In [127]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [128]:
r_score

0.7371835767791897

In [105]:
import pickle
filename="finalized_model_dt.sav"

In [57]:
pickle.dump(regressor,open(filename,'wb'))

In [ ]:
loaded_model=pickle.load(open("finalized_model_dt.sav",'rb'))

In [ ]:
regressor.feature_importances_

In [ ]:
regressor.max_features_

In [ ]:
regressor.tree_

In [ ]:
age=int(input("age"))
sex=float(input("sex(female=0,male=1"))
bmi=float(input("bmi "))
children=int(input("children:"))
smoker=int(input("smoker  0 or 1:"))56

In [ ]:
result=regressor.predict([[age,sex,bmi,children,smoker]])

In [ ]:
result